---
import MainLayout from "../layouts/MainLayout.astro";
import tailwind from "../styles/tailwind.css";
import Button from '../components/Button.astro';
import Button2 from '../components/Button2.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
---

<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animeret herografik</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header></header>

<MainLayout title="Animeret hero grafik">
<main class="">  
  <section class="hero grid lg:grid-cols-8 gap-8 px-8 bg-[url(../../background.webp)] bg-cover"> 
    <!--SECTION 1 -->
    <div class="col-span-5"> 
      <div class="grid grid-cols-12 grid-rows-12 max-h-[90vh] overflow-hidden"> 
        <div class="col-start-1 col-span-12 row-start-1 row-span-12  ">
        </div> 
        <div class="col-start-1 col-span-3 row-start-1 row-span-3"> 
          <img src="../../mund.webp" alt="Næve" width="410" height="412" loading="lazy" decoding="async" class="pt-8 animate__animated animate__slideInLeft animate__delay-2s"> 
        </div> 
        <div class="col-start-1 col-span-9 row-start-1 row-span-3"> 
          <img src="../../BACKTOPOP.webp" alt="Tekst" width="711" height="348" loading="lazy" decoding="async"> 
        </div> 
        <div class="col-start-3 col-span-9 row-start-7 row-span-1"> 
          <h2>HITS. LYS. LIR</h2>
        </div> 
        <div class="col-start-3 col-span-9 row-start-8 row-span-1"> 
          <h2>VI SES 07.03.2025</h2>
        </div> 
        <div class="col-start-7 col-span-2 row-start-2 row-span-3"> 
          <img src="../../Burst.webp" alt="Tekst" loading="lazy" decoding="async" class="animate__animated animate__heartBeat animate__infinite animate__slower"> 
        </div> 
        <div class="col-start-3 col-span-9 row-start-9 row-span-1"> 
          <Button2>KØB BILLET</Button2>
        </div> 
      </div> <!-- <Image src={festival} alt="Festival" class="object-cover" /> --> </div> 
      <!--SECTION 2 -->
      <div class="col-span-3"> 
        <div class="grid grid-cols-12 grid-rows-12 max-h-[90vh] overflow-hidden"> 
          <div class="col-start-1 col-span-12 row-start-1 row-span-12  ">
          </div> 
          <div class="col-start-10 col-span-3 row-start-2 row-span-1"> 
            <img src="../../Hearts.webp" alt="Tekst" width="711" height="348" loading="lazy" decoding="async" class="animate__animated animate__heartBeat animate__infinite animate__slower"> 
          </div> 
        </div> <!-- <Image src={festival} alt="Festival" class="object-cover" /> --> </div> 
    </section>  
    <section class="grid lg:grid-cols-3 gap-8 container mx-auto mt-16"> 
      <div class="bg-gray-200 p-4"> 
        <h2 class="text-2xl">The Ramones</h2> 
        <p>Det originale punkband fra New York</p> 
        <img src="/_astro/thumbsup.HKo8mRk4_Z1Q5DS7.webp" alt="Thumbs up" width="32" height="32" loading="lazy" decoding="async" class="object-cover"> </div> 
        <div class="bg-gray-200 p-4"> 
          <h2 class="text-2xl"> <a href="https://www.youtube.com/watch?v=2G5rfPISIwo" class="underline" target="_self">The Clash</a> </h2> 
          <p>London kalder!</p> 
          <img src="/_astro/thumbsup.HKo8mRk4_Z1Q5DS7.webp" alt="Thumbs up" width="32" height="32" loading="lazy" decoding="async" class="object-cover"> </div> 
          <div class="bg-gray-200 p-4"> 
            <h2 class="text-2xl"> <a href="https://www.youtube.com/watch?v=2G5rfPISIwo" class="underline" target="_self">Sex Pistols</a> </h2> 
            <p>Gud redde dronningen</p> 
            <img src="/_astro/thumbsup.HKo8mRk4_Z1Q5DS7.webp" alt="Thumbs up" width="32" height="32" loading="lazy" decoding="async" class="object-cover"> </div> 
          </section> 
            <section class="grid lg:grid-cols-3 gap-8 container mx-auto mt-16"> 
              <div class="bg-gray-200 p-4"> 
                <h2 class="text-2xl">The Ramones</h2> 
                <p>Det originale punkband fra New York</p> 
                <img src="/_astro/thumbsup.HKo8mRk4_Z1Q5DS7.webp" alt="Thumbs up" width="32" height="32" loading="lazy" decoding="async" class="object-cover"> </div> 
                <div class="bg-gray-200 p-4">
                  <h2 class="text-2xl"> 
                    <a href="https://www.youtube.com/watch?v=2G5rfPISIwo" class="underline" target="_self">The Clash</a> 
                  </h2> 
                  <p>London kalder!</p> 
                  <img src="/_astro/thumbsup.HKo8mRk4_Z1Q5DS7.webp" alt="Thumbs up" width="32" height="32" loading="lazy" decoding="async" class="object-cover"> </div> 
                  <div class="bg-gray-200 p-4"> 
                    <h2 class="text-2xl"> <a href="https://www.youtube.com/watch?v=2G5rfPISIwo" class="underline" target="_self">Sex Pistols</a> </h2> 
                    <p>Gud redde dronningen</p> <img src="/_astro/thumbsup.HKo8mRk4_Z1Q5DS7.webp" alt="Thumbs up" width="32" height="32" loading="lazy" decoding="async" class="object-cover"> </div> </section> 
                    <section id="videografik" class="fixed bottom-2 left-2 z-50 animate-slideinbottom"> 
                      <video width="480" height="360" autoplay="" muted="" loop="" class="hover:animate-spin hover:hue-rotate-180"> 
                        <source src="videografik-vp9-chrome.webm" type="video/webm"> <source src="videografik_1.mov" type="video/mov"> </video> 
                      </section>  
                      </main>

</MainLayout>
