---
import MainLayout from "../layouts/MainLayout.astro";
import tailwind from "../styles/tailwind.css";
import Button from '../components/Button.astro';
import Button2 from '../components/Button2.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
---

<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animeret herografik</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header></header>

<MainLayout title="Animeret hero grafik">
<main class="">  
  <section class="hero grid lg:grid-cols-8 gap-8 px-8 bg-[url(../../background.webp)] bg-cover"> 
    <!--SECTION 1 -->
    <div class="col-span-5"> 
      <div class="grid grid-cols-12 grid-rows-12 max-h-[90vh] overflow-hidden"> 
        <div class="col-start-1 col-span-12 row-start-1 row-span-12  ">
        </div> 
        <div class="col-start-1 col-span-3 row-start-1 row-span-3"> 
          <img src="../../mund2.webp" alt="Næve" width="410" height="412" loading="lazy" decoding="async" class="pt-8 animate__animated animate__slideInLeft animate__delay-2s"> 
        </div> 
        <div class="col-start-1 col-span-9 row-start-1 row-span-3"> 
          <img src="../../BACKTOPOP.webp" alt="Tekst" width="711" height="348" loading="lazy" decoding="async"> 
        </div> 
        <div class="col-start-2 col-span-9 row-start-5 row-span-1"> 
          <img src="../../undertitel.webp" alt="undertitel" width="410" height="412" loading="lazy" decoding="async"> 
        </div> 
        <div class="col-start-2 col-span-9 row-start-6 row-span-1"> 
          <img src="../../dato.webp" alt="dato" width="410" height="412" loading="lazy" decoding="async"> 
        </div> 
        <div class="col-start-7 col-span-2 row-start-2 row-span-3"> 
          <img src="../../Burst.webp" alt="Tekst" loading="lazy" decoding="async" class="motion-safe:animate-[spin_2s_linear_infinite]"> 
        </div> 
        <div class="col-start-3 col-span-9 row-start-9 row-span-1"> 
          <Button2>KØB BILLET</Button2>
        </div> 
        <div class="col-start-1 col-span-4 row-start-10 row-span-1"> 
          <img src="../../mund.webp" alt="dato" width="510" height="512" loading="lazy" decoding="async" class="px-8"> 
        </div> 
        <div class="col-start-3 col-span-2 row-start-10 row-span-1"> 
          <img src="../../Sparkle.webp" alt="dato" width="410" height="412" loading="lazy" decoding="async" class="animate__animated animate__swing animate__infinite animate__slower"> 
        </div> 
      </div> <!-- <Image src={festival} alt="Festival" class="object-cover" /> --> </div> 
      <!--SECTION 2 -->
      <div class="col-span-3"> 
        <div class="grid grid-cols-12 grid-rows-12 max-h-[90vh] overflow-hidden"> 
          <div class="col-start-1 col-span-12 row-start-1 row-span-12  ">
          </div> 
          <div class="col-start-10 col-span-3 row-start-2 row-span-1"> 
            <img src="../../Hearts.webp" alt="Tekst" width="711" height="348" loading="lazy" decoding="async" class="animate__animated animate__heartBeat animate__infinite animate__slower"> 
          </div> 
        </div> <!-- <Image src={festival} alt="Festival" class="object-cover" /> --> </div> 
    </section>  
   </main>

</MainLayout>
