---
---
<div>
    <button class="border-2 border-purple-600 bg-purple-600 rounded-full px-8 py-1 text-white font-semibold transition delay-150 duration-200 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-white hover:text-purple-600 cursor-pointer"><slot /></button>
</div>