---
const { href = "#", target = "_self", variant = "primary", size = "medium" } = Astro.props;

const linkStyling = "duration-1000";

const variantClasses = {
    "textlink": "underline text-blue-800",
    "primary": "inline-block border-2 my-4 px-8 py-2 hover:text-white border-black hover:bg-black",
    "secondary": "relative inline-block text-black after:block after:w-0 after:h-[2px] after:bg-yellow-500 after:transition-all after:duration-300 hover:after:w-full"
};

const sizeClasses = {
    "standard": "hover:font-bold",
    "large": "text-xl font-bold uppercase hover:-skew-x-20",
    "medium": "text-lg hover:-skew-x-20",
    "small": "text-md hover:-skew-x-20"
};
---

<a href={href} target={target} class:list={[linkStyling, variantClasses[variant], sizeClasses[size]]}>
    <slot />
</a>
